body
{
background-image: url("../images/hero-bg.jpg");
background-attachment: fixed;

}
.about-us-wrapper
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 100px;
    width: 100%;
}
.about-container:nth-child(even)
{
justify-self: flex-end;
align-self: flex-end;

}

.about-container
{
max-width: 1200px;
background-color: white;
padding: 20px;
border-radius: 2rem;
border:4px #ffbf00 solid;

}
.headding-about
{
   text-align: center;
}
